* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-red: rgb(255, 58, 58);
}

/*Global*/
.App {
  color: black;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

header {
  background-color: rgb(27, 27, 27);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: white
}

a:focus {
  color: white;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
/*articles page*/
.articles {
  padding: 20px 10px;
}

/*single article page*/
.single-article {
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 75%;
}

.main-img {
  width: 100%;
  object-fit: cover;
  object-position: 0 -50px;
}

/*placeholder*/
